<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @topic.content %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @topic.created_by %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Add reply', new_topic_reply_path(@topic)%> |
<%= link_to 'Back', topics_path %> |
<%= link_to 'Download XLSX', topic_path(@topic, :format=>:xlsx) %>

<% @topic.replies.each do |reply| %>
    <p><%=reply.content%></p>
<% end %>
